body{
    background:rgb(200, 200, 200);;
    margin: 0px;
    font-family: 'Arial', sans-serif;
}

#Box{
    width: 200px;
    height: 30px;
    padding: 20px;
    background-color: rgb(117, 117, 117);
    border: 4px solid rgb(0, 0, 0);
    border-radius: 4px;
    text-align: center;
    transition: background-color 1s linear,
                width 1s ease-out,
                height 1s ease-out,
                border-radius 1s ease-in;
}

#Box:hover{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    text-align: center;
}

#Testo{
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    transition: color 1s linear,
                font-size 1s ease-out;
}
#Box:hover #Testo{
    color: rgb(0, 0, 0);
    font-size: 24px;
}